/* estilização padrão */
html, body{
    background-color:#262526;

}

.conteudo {
    background-color:rgb(52, 50, 52);
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 20px;
    display: block;
    margin-top: 10%;
}

.conteudo .logoDiv {
    margin-right: 200px;
    float: left;
}

.conteudo input {
    margin: 5px;
    width: 500px;
}

.conteudo .dica {
    margin-top: 20px;
}

.conteudo a {
    text-decoration: none;
    color: slateblue;
}

.conteudo li {
    list-style: none;
    text-decoration:underline;
    text-decoration-color: slateblue;
}

/* estilos formulário das areas*/


.circulo {
    display: none;
}

.quadrado {
    display: none;
}

.triangulo {
    display: block;
}

/*estilos formulário registro e login */
.formulario {
    width: 500px;
}

#loginBotao, #registrarBotao {
    margin: 10px;
}
